/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

/* general srttings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #242b40;
  --secondary-color: #31455c;
  --tertiary-color: #e78331;
  --quaternary-color: #cddde7;
  --quinary-color: #5cc586;
}

body {
  background-color: var(--primary-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main app style  */
main.app {
  background-color: var(--secondary-color);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

/* start app header style  */
.app header.app-header {
  display: flex;
  align-items: center;
}

.app-header h2.headline {
  color: var(--quinary-color);
  font-size: 2rem;
  padding: 10px;
}

.app-header .arrow {
  color: var(--quinary-color);
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  display: none;
}

.app-header .arrow:hover {
  color: var(--quaternary-color);
}

/*end app header style  */

/* start input section style  */
.app section.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input .holder {
  width: 90%;
  padding: 10px;
}

.zip input,
.feel textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 2px solid var(--quinary-color);
  background-color: transparent;
  border-radius: 5px;
  color: var(--quaternary-color);
  text-transform: capitalize;
  caret-color: var(--quinary-color);
}

.feel textarea {
  height: 200px;
}

button.submit-btn {
  width: 50%;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--quinary-color);
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

button.submit-btn:hover {
  background-color: var(--quaternary-color);
  color: var(--quinary-color);
}

/* end input section style  */

/* start output section style  */
.app section.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: none;
}

.output .entry-holder {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.entry-holder > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-header img {
  width: 100px;
  object-fit: cover;
}

.output-body {
  flex-direction: column;
  padding: 10px;
  color: var(--quaternary-color);
}

.output-body h2 {
  font-size: 3rem;
}

.output-body p {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.output-footer {
  margin-top: 20px;
  border-top: 1px solid var(--quinary-color);
}
.output-footer > div {
  width: 50%;
  padding: 10px 5px;
  color: var(--quaternary-color);
  text-transform: capitalize;
  text-align: center;
}

.output-footer div:first-child {
  border-right: 1px solid var(--quinary-color);
}
/* end output section style  */

/* start error msg style  */
div.error-msg {
  padding: 20px;
  color: var(--quaternary-color);
  font-size: 2rem;
}
/* end error msg style  */

/* responsive design  */
@media (max-width: 760px) {
  main.app {
    max-width: 100%;
    width: 80%;
  }

  .app-header h2.headline {
    font-size: 1rem;
  }

  .app-header .arrow {
    font-size: 1.5rem;
  }

  .output-footer {
    flex-direction: column;
  }

  .output-footer > div {
    width: 100%;
    padding: 10px 0;
  }

  .output-footer div:first-child {
    border: none;
  }

  .output-footer div:nth-child(2) {
    position: relative;
  }
  .output-footer div:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 50%;
    height: 1px;
    background-color: var(--quinary-color);
  }
}
